In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv("Data_for_UCI_named.csv", error_bad_lines=False)

In [60]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [61]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [62]:
df[df["stab"] <= 0]["stabf"].value_counts()

stable    3620
Name: stabf, dtype: int64

In [63]:
df[df["stab"] > 0]["stabf"].value_counts()

unstable    6380
Name: stabf, dtype: int64

In [64]:
df1 = df.drop(columns="stab")

In [65]:
df1.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [66]:
df1.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stabf    0
dtype: int64

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [68]:
X = df1.drop(columns="stabf")
y = df1["stabf"]

In [69]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.2 , random_state= 0) 
y_train.value_counts()

unstable    5107
stable      2893
Name: stabf, dtype: int64

In [70]:
le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [71]:
y_test

array([1, 0, 1, ..., 0, 1, 1])

In [72]:
sc = StandardScaler()
sc_xtrain = sc.fit_transform(x_train)
sc_xtrain = pd.DataFrame(sc_xtrain, columns=x_train.columns)

x_test = x_test.reset_index(drop= True) 
sc_xtest = sc.fit_transform(x_test)
sc_xtest = pd.DataFrame(sc_xtest, columns=x_test.columns)

In [73]:
sc_xtrain

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,-1.497114,-0.546035,1.414770,-0.999740,-0.135769,1.353799,-0.879930,-0.245100,0.003763,-1.001528,1.412103,0.570300
1,-0.701663,-1.244901,-0.184798,-1.416307,0.801551,0.917918,-0.793505,-1.518658,1.176717,-0.418560,-1.514445,0.459440
2,-1.170129,1.702213,0.177473,-1.357283,1.722288,-1.619043,-1.123817,-0.236209,-0.708578,1.492449,0.647975,0.647422
3,0.864950,-0.200982,0.679858,0.210440,1.681615,-1.205872,-1.463317,-0.241417,-1.013915,0.224708,0.441177,-0.008713
4,0.697517,-1.662106,0.859081,0.529700,0.324541,0.607631,-1.479190,0.305422,0.735731,-0.544399,-0.061092,1.101104
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,1.457875,-1.635857,0.306179,-0.971150,0.874254,-0.573855,-0.309809,-0.629564,1.129231,-1.120004,0.279459,1.706538
7996,0.096286,-1.593934,-0.961429,-1.250591,-1.301031,0.376649,0.832745,1.044895,-0.241646,1.223899,1.528999,0.073923
7997,-1.169276,0.422342,0.826833,-0.305262,0.675369,-0.700072,1.148753,-1.615841,-1.658235,-0.714458,0.164318,-1.359301
7998,-1.598064,0.161278,-1.344787,0.321327,-0.407139,1.612406,-0.660266,-0.253975,0.054187,-1.508278,1.204843,-0.451379
7999,1.106951,-1.263686,0.599635,-0.185665,0.171220,0.780390,-0.084131,-0.996725,-0.144389,-0.664152,1.273306,-1.046707

In [74]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import xgboost as xgb
import lightgbm as lgb
from sklearn.metrics import classification_report

In [77]:
randomF = RandomForestClassifier(random_state=1)
randomF.fit(sc_xtrain, y_train)

Rf_Pred = randomF.predict(sc_xtest)
print(classification_report(Rf_Pred, y_test))

              precision    recall  f1-score   support

           0       0.89      0.91      0.90       706
           1       0.95      0.94      0.94      1294

    accuracy                           0.93      2000
   macro avg       0.92      0.93      0.92      2000
weighted avg       0.93      0.93      0.93      2000

In [78]:
Extra = ExtraTreesClassifier(random_state=1)
Extra.fit(sc_xtrain, y_train)

Extra_Pred = Extra.predict(sc_xtest)
print(classification_report(Extra_Pred, y_test))

              precision    recall  f1-score   support

           0       0.85      0.95      0.90       654
           1       0.97      0.92      0.95      1346

    accuracy                           0.93      2000
   macro avg       0.91      0.93      0.92      2000
weighted avg       0.93      0.93      0.93      2000

In [79]:
xgb_clf = xgb.XGBClassifier(random_state=1)
xgb_clf.fit(sc_xtrain, y_train)

xgb_Pred = xgb_clf.predict(sc_xtest)
print(classification_report(xgb_Pred, y_test))

              precision    recall  f1-score   support

           0       0.91      0.94      0.93       704
           1       0.97      0.95      0.96      1296

    accuracy                           0.95      2000
   macro avg       0.94      0.95      0.94      2000
weighted avg       0.95      0.95      0.95      2000

In [80]:
lgbm_clf = lgb.LGBMClassifier(random_state=1)
lgbm_clf.fit(sc_xtrain, y_train)

lgbm_Pred = lgbm_clf.predict(sc_xtest)
print(classification_report(lgbm_Pred, y_test))

              precision    recall  f1-score   support

           0       0.91      0.93      0.92       709
           1       0.96      0.95      0.95      1291

    accuracy                           0.94      2000
   macro avg       0.93      0.94      0.93      2000
weighted avg       0.94      0.94      0.94      2000

In [81]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits= 5, shuffle= True , random_state= 1) 
 
n_estimators = [50, 100, 300, 500, 1000]
min_samples_split = [2, 3, 5, 7, 9]
min_samples_leaf = [1, 2, 4, 6, 8]
max_features = ['auto', 'sqrt', 'log2', None]

hyperparameter_grid = {'n_estimators': n_estimators,
                       'min_samples_leaf': min_samples_leaf,
                       'min_samples_split': min_samples_split,
                       'max_features': max_features}
rsv = RandomizedSearchCV(Extra, param_distributions=hyperparameter_grid, cv=skf,random_state=1)
rsv.fit(sc_xtrain,y_train)
rsv_Pred = rsv.predict(sc_xtest)
print(classification_report(rsv_Pred, y_test))

              precision    recall  f1-score   support

           0       0.86      0.92      0.89       680
           1       0.96      0.93      0.94      1320

    accuracy                           0.92      2000
   macro avg       0.91      0.92      0.92      2000
weighted avg       0.93      0.92      0.93      2000

In [82]:
rsv.best_params_

{'n_estimators': 1000,
 'min_samples_split': 2,
 'min_samples_leaf': 8,
 'max_features': None}

In [83]:
from sklearn.metrics import  recall_score, accuracy_score, precision_score, f1_score

In [87]:
accuracy = accuracy_score(y_true=y_test, y_pred=Rf_Pred) 
print( 'Accuracy: {}' .format(round(accuracy* 100 ), 4))

Accuracy: 93.0

In [89]:
accuracy = accuracy_score(y_true=y_test, y_pred=lgbm_Pred) 
print( 'Accuracy: {}' .format(round(accuracy* 100 ), 4))

Accuracy: 94.0

In [90]:
accuracy = accuracy_score(y_true=y_test, y_pred=Extra_Pred) 
print( 'Accuracy: {}' .format(round(accuracy* 100 ), 4))

Accuracy: 93.0

In [91]:
accuracy = accuracy_score(y_true=y_test, y_pred=rsv_Pred) 
print( 'Accuracy: {}' .format(round(accuracy* 100 ), 4))

Accuracy: 92.0

In [93]:
Extra1 = ExtraTreesClassifier(n_estimators=1000, min_samples_split=2,min_samples_leaf=8, max_features=None, random_state=1)
Extra1.fit(sc_xtrain, y_train)

Extra1_Pred = Extra.predict(sc_xtest)
print(classification_report(Extra1_Pred, y_test))

              precision    recall  f1-score   support

           0       0.85      0.95      0.90       654
           1       0.97      0.92      0.95      1346

    accuracy                           0.93      2000
   macro avg       0.91      0.93      0.92      2000
weighted avg       0.93      0.93      0.93      2000

In [94]:
print(Extra1.feature_importances_)

[0.13763672 0.1402196  0.13310707 0.13538756 0.00354739 0.00551437
 0.00505121 0.00507942 0.1037979  0.10803816 0.11465631 0.10796428]

In [95]:
ext=pd.DataFrame(Extra1.feature_importances_,columns=["extratrees"])
ext
ext.sort_values(['extratrees'], ascending=True)

    extratrees
4     0.003547
6     0.005051
7     0.005079
5     0.005514
8     0.103798
11    0.107964
9     0.108038
10    0.114656
2     0.133107
3     0.135388
0     0.137637
1     0.140220